/* subheadings */
h3 {
    margin: 2rem;
    margin-top: 0;
    text-align: center;
    font-size: 1.5rem;
}

/* name header */
#name-header {
    padding: 2rem;
}

#name-header p {
    margin: 0;
}

.name {
    font-family: 'Dokdo';
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 3rem;

    margin: 0;
}

.name-container {
    text-align: right;
    margin-top: 1rem;
}

.subheader {
    width: 100%;
    max-width: 40rem;
    justify-self: center;
}

.subheader p {
    font-size: 1.25rem;
}

.about-me {
    width: 100%;
    max-width: 35rem;
    justify-self: center;
    margin-top: 2.5rem;
}

.exclamation {
    font-size: 2rem;
    text-align: right;
    margin-top: 1rem;
}


/* project card */
#projects {
    padding-bottom: 3.5rem;
}

#projects img {
    width: 100%;
    height: auto;
}

.card {
    padding: 1.5rem;
    padding-bottom: 2.5rem;
}

.card h4 {
    margin-bottom: 0;
    font-size: 1.25rem;
}

.card h5 {
    margin-top: 0.25rem;
    font-weight: 400;
    font-size: 0.9rem;
}

.card-grid {
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
}

.spacing {
    display: grid;
    grid-template-rows: 1fr max-content;
    position: relative;
    gap: 0.5rem;
}

.button {
    display: flex;
    background-color: rgb(251, 245, 240);
    padding: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;

    justify-self: center;
    align-items: center;
    max-width: max-content;

    text-decoration: none;
    color: black;
}

.button:hover, .button:focus {
    background-color: rgba(251, 245, 240, 0.7);
    transition-duration: 0.3s;
    color: black;
}



/* --------- FOOTER --------- */
#contact h3 {
    text-align: left;
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
}

#contact h4 {
    margin: 0;
    font-weight: 400;
}





/* --------- MEDIA  --------- */

@media (width > 36rem) {
    .card-grid {
        grid-template-columns: 1fr 1fr;
        max-width: 50rem;
        justify-self: center;
    }
}

@media (width > 37.25rem) {
    .name {
        font-size: 5rem;
    }
}

/* @media (width > 58rem) {
    .card-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
} */
